.brochure-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;

  @include md {
    padding: 20px;
  }

  // .brochure-popup__wrapper
  &__wrapper {
    background-color: transparent;
    max-width: 1140px;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0;
    transition: all 0.5s;
    flex-direction: column;
    gap: 10px;
    @include xl {
    }
    @include lg {
    }
    @include md {
      max-width: 80%;
    }
    @include sm {
      height: 100%;
      max-width: 100%;
    }
  }

  // .brochure-popup__close
  &__close {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0s;
  }

  // .brochure-popup__top
  &__top {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    clip-path: inset(0 30% 0 30%);
    scale: 1.2;
    transition: all 0.5s;
    transition-delay: 0s;
    @include md {
      scale: 1;
      clip-path: inset(0 0 0 0);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 6;
    }
    @include sm {
      height: 315px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(177.87deg, rgba(0, 0, 0, 0) 12.07%, rgba(0, 0, 0, 0.67) 80.26%);
      z-index: 1;
      @include md {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.41%, rgba(0, 0, 0, 0.92) 88.56%);
      }
    }

    // @include sm {
    //   height: auto;
    // }
  }

  // &__img-desctop {
  //   display: block;
  //   @include md {
  //     display: none;
  //   }
  // }
  // &__img-mobile {
  //   display: none;
  //   position: relative;
  //   @include md {
  //     display: block;
  //   }
  //   // img {
  //   //   width: auto;
  //   //   height: auto;
  //   //   object-fit: contain;
  //   // }
  // }

  &__img {
    position: relative;
    height: 425px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  // .brochure-popup__bottom
  &__bottom {
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0s;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 20px;
    // overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-100%);
    z-index: 5;
    @include lg {
    }
    @include md {
      padding: 0 35px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      padding: 1px;
      background: linear-gradient(90.05deg, #9797976b 0%, rgba(151, 151, 151, 0) 45%, #97979773 100%);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  // .brochure-popup__title
  &__title {
    text-transform: uppercase;
    // @include cinzelRegular;
    font-weight: 500;
    font-size: 96px;
    line-height: 1;
    color: #ffffff;
    padding-left: 30px;
    transition: all 0.5s 0s;
    position: absolute;
    bottom: 65px;
    // left: 65px;
    z-index: 2;
    opacity: 0;

    @include xl {
      font-size: 62px;
    }
    @include lg {
      font-size: 48px;
      padding-left: 0;
      bottom: 30px;
      left: 30px;
    }
    @include md {
      opacity: 1;
      font-size: 42px;
    }
    @include sm {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    display: none;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    line-height: 13.672px;
    text-align: left;
    padding-top: 22px;
    // @include md {
    //   display: block;
    // }
  }

  // .brochure-popup__form
  &__form {
    padding: 30px 50px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;

    @include lg {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 30px;
    }

    @include md {
      padding: 55px 0;
    }
    @include sm {
      padding: 20px 0 40px;
    }
    @include sm {
      padding: 30px 0;
    }

    &-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 18px;
      @include md {
        flex-direction: column;
      }
    }
  }

  // .brochure-popup__form-input
  &__form-input {
    width: 100%;

    .iti {
      .form-control {
        text-align: left;
      }
    }

    .iti__selected-dial-code {
      font-size: 14px;
      color: #f3f2ef;
      font-variant-numeric: lining-nums proportional-nums;
    }

    .iti__country-list {
      max-width: 330px;
    }

    .iti--separate-dial-code .iti__selected-flag {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    .iti__arrow {
      border-top-color: #f3f2ef !important;
      border-bottom-color: #f3f2ef !important;
    }
    input {
      border: none;
      background-color: transparent;
      width: 100%;
      font-size: 14px;
      line-height: 1.2;
      color: #f3f2ef;
      border-bottom: 1px solid rgba(145, 145, 145, 0.5);
      padding: 10px 4px;
      border-radius: 0;

      &::placeholder {
        color: #f3f2ef;
        font-size: 14px;
      }

      &:active,
      &:hover,
      &:focus {
        outline: 0;
        outline-offset: 0;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }

  // .brochure-popup__form-btn
  &__form-btn {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 100%),
        linear-gradient(0deg, #ffffff, #ffffff);
      padding: 6px 10px;
      width: 228px;
      height: 100%;
      border-radius: 5px;
      transition: all 0.5s;

      img {
        width: 0;
        transition: width 0.5s;
        transform: translateX(10px);
        height: 8px;
      }

      &:hover {
        img {
          transform: translateX(10px);
          width: 23px;
        }
      }

      @include md {
      }

      p {
        font-size: 13px;
        line-height: 1.5;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        @include md {
        }
      }
    }
  }
}

.brochure-popup.popup-show {
  .brochure-popup__top {
    clip-path: inset(0 0 0 0);
    scale: 1;
    transition-delay: 0.3s;
    @include md {
      opacity: 1;
      transition: opacity 0.3s;
      transition-delay: 0s;
    }
  }
  .brochure-popup__title {
    opacity: 1;
    transition: all 0.5s ease 0.5s;

    @include md {
      opacity: 1;
      transition: opacity 0.5s ease 0.4s;
    }
  }
  .brochure-popup__close {
    opacity: 1;
    transition-delay: 0.5s;
  }
  .brochure-popup__bottom {
    opacity: 1;
    height: 100%;
    transition-delay: 0.4s;
    transform: translateY(0%);
    @include sm {
      height: auto;
    }
  }
}
