.offer-popup {
  padding: 40px;

  @include md {
    padding: 20px;
  }

  // .offer-popup__wrapper
  &__wrapper {
    background-color: transparent;
    max-width: 975px;
    width: 100%;
    height: 660px;
    padding: 0;
    transition: all 0.5s;
    // transition-delay: 1s;
    @include lg {
    }
    @include md {
      max-width: 80%;
      flex-direction: column;
      gap: 10px;
      height: auto;
    }
    @include sm {
      max-width: 100%;
    }
  }

  // .offer-popup__close
  &__close {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0s;
  }

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    height: 100%;

    @include md {
      flex-direction: column;
      justify-content: center;
      gap: 19px;
    }
    @include sm {
      gap: 12px;
    }
  }

  &__even {
    position: relative;
    max-width: 50%;
    width: 100%;
    height: 334px;
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.5s;
    transition-delay: 0s;
    @include lg {
    }
    @include md {
      max-width: 100%;
      transition: all 0.5s;
      transition-delay: 0s;
      z-index: 2;
    }

    &-img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.8s;
        transition-delay: 0s;

        @include sm {
          object-position: top;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 144px;
        // background-image: url("../img/specialOffer/bg.svg");
        backdrop-filter: blur(14px);
        // --webkit-backdrop-filter: blur(14px);
        transform: translateY(90%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
        transition: transform 0.5s;
        transition-delay: 0s;

        @include md {
          backdrop-filter: none;

          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: initial;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 24.41%, rgba(0, 0, 0, 0.92) 88.56%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("https://d3b6muno9lbfvx.cloudfront.net/sky-vista-vr/img/logos/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s;
        transition-delay: 0s;
        @include md {
          display: none;
        }
      }
    }
  }

  &__img-desctop {
    display: block;
    @include md {
      display: none;
    }
  }

  &__img-mobile {
    display: none;
    @include md {
      height: 350px;
      display: block;
    }
  }

  &__odd {
    position: relative;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include lg {
      width: 80%;
    }
    @include md {
      width: 100%;
      max-width: 100%;
    }
  }

  &__top {
    background-color: #000;
    padding: 98px 50px;
    border-radius: 20px;
    @include md {
      display: none;
    }
  }

  &__title {
    h3 {
      text-align: center;
      color: #fff;
      font-size: 48px;
      font-weight: 400;
      line-height: 1;
      text-transform: capitalize;
      @include md {
        padding-left: 0;
        font-size: 44px;
      }
      @include sm {
        font-size: 36px;
        text-align: left;
        padding-left: 34px;
      }
    }
    @include md {
      padding-bottom: 24px;
    }
    @include sm {
      padding-bottom: 10px;
    }

    &-mobile {
      display: none;
      position: absolute;
      bottom: 77px;
      left: 35px;
      z-index: 2;
      @include md {
        display: block;
      }
      @media (max-width: 380px) {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }
    }
    &-desctop {
      display: block;
      @include md {
        display: none;
      }
    }
  }

  &__bottom {
    background-color: #fff;
    padding: 0 70px;
    border-radius: 20px;
    height: 60px;
    overflow: hidden;
    transition: height 0.5s;
    transition-delay: 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include md {
      height: 100%;
      background-color: #000;
      height: 0;
      opacity: 0;
      transition: all 0.5s;
      transition-delay: 0s;
      position: relative;
      padding: 0 35px;
      z-index: 1;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.9);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: translateY(-100%);
      z-index: 1;
    }

    &::before {
      @include md {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        padding: 1px;
        background: linear-gradient(90.05deg, #9797976b 0%, rgba(151, 151, 151, 0) 45%, #97979773 100%);
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        pointer-events: none;
      }
    }
  }

  &__text {
    padding-bottom: 35px;
    p {
      color: #000;
      font-size: 14px;
      font-weight: 200;
      line-height: 1.5;
      @media (min-width: 1920px) {
        font-size: 16px;
      }
      @include md {
        color: #fff;
        width: 90%;
      }
    }

    @include md {
      padding-bottom: 0;
      position: absolute;
      bottom: 20px;
      left: 35px;
    }

    &-desctop {
      display: block;
      @include md {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @include md {
        display: block;
      }
    }
  }

  &__form {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0s;
    @include md {
      opacity: 1;
      max-width: 280px;
      width: 100%;
    }
    &-input {
      margin-bottom: 15px;
      input {
        border: none;
        border-bottom: 0.5px solid #868686;
        width: 100%;
        padding: 10px 0 8px;
        background-color: transparent;
        color: #000;
        border-radius: 0;
        font-size: 14px;
        @include md {
          color: #fff;
        }

        &:focus {
          border: none;
          border-bottom: 0.5px solid #000;
          box-shadow: none;
          outline: none;
          @include md {
            border-bottom: 0.5px solid #fff;
          }

          &::placeholder {
            opacity: 0;
          }
        }

        &::placeholder {
          color: #888;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: #000 !important;
          @include md {
            -webkit-text-fill-color: #fff !important;
          }
        }
      }

      .iti {
        .form-control {
          text-align: left;
        }
      }

      .iti__selected-dial-code {
        font-size: 12px;
        font-variant-numeric: lining-nums proportional-nums;
        color: #888;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-btn {
      background: linear-gradient(0deg, #000000, #000000),
        linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      width: 100%;
      max-width: 228px;
      margin: 40px auto 0;
      border-radius: 5px;

      @include md {
        margin: 35px auto 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 100%), #ffffff;
      }

      span {
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;

        padding: 6px 30px;
        line-height: 150%;
        @include md {
          color: #000;
        }
      }
    }

    @include md {
      padding: 30px 0;
    }
    // @include sm {
    //   padding: 30px 0;
    // }
  }
}

.offer-popup.popup-show {
  .offer-popup__close {
    opacity: 1;
    transition-delay: 1.1s;
  }
  .offer-popup__even {
    height: 100%;
    transition-delay: 0.5s;
    @include md {
      transition-delay: 0.3s;
      height: initial;
    }
    &-img {
      &::after {
        transform: translateY(0);
        transition-delay: 0.6s;
        @include md {
          transform: initial;
          transition-delay: initial;
        }
      }

      &::before {
        opacity: 1;
        transition-delay: 0.8s;
        @include md {
          display: none;
        }
      }
    }
  }
  .offer-popup__bottom {
    height: 388px;
    transition-delay: 0.5s;
    @include md {
      opacity: 1;
      height: 100%;
      transition-delay: 0.4s;
      transform: translateY(0%);
    }
    @include sm {
      height: auto;
    }
  }

  .offer-popup__form {
    opacity: 1;
    transition-delay: 0.8s;
  }
}
