@import "../fonts/font.css";
// @import "../fonts/Cinzel/stylesheet.css";
// @import "../fonts/Rubik/stylesheet.css";

@import "switcher.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

:root {
	--vh: 100svh;
}

#viewer {
	height: var(--vh);
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.psv-container {
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 165px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 134.72%);
		z-index: 2;
		pointer-events: none;
	}
}

canvas {
	height: var(--vh) !important;
	width: 100vw !important;
	position: relative;
}

body {
	font-style: normal;
	font-weight: 400;
	overflow: hidden;
	height: var(--vh);

	&.active-modal {
		.psv-navbar {
			opacity: 1;
		}

		.modal-center {
			opacity: 1;
		}

		.modal-right {
			opacity: 1;
		}
	}
}

button {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.psv {
	&-navbar {
		width: max-content;
		justify-content: center;
		position: absolute;
		right: 0;
		background-color: transparent;
		height: auto;
		bottom: 24px;
		left: 35px;
		// padding: 2px 15px;
		gap: 10px;
		opacity: 0;
		transition: all 0.3s;
		background-color: rgba(0, 0, 0, 0.68);
		border-radius: 5px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			padding: 1px;
			width: 99%;
			height: 96%;
			background: linear-gradient(95.19deg, #979797 -15.53%, rgba(151, 151, 151, 0) 49.05%, #979797 113.63%);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
			pointer-events: none;
		}

		.psv-button--active {
			border-radius: 5px;
		}
	}

	&-zoom-range {
		display: none;
	}

	&-zoom-button,
	&-fullscreen-button {
		width: 40px;
		height: 40px;
		padding: 0;
		display: flex !important;
		align-items: center;
		justify-content: center;
		scale: 1;
		position: relative;

		&::after {
			line-height: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
			z-index: 1;
			pointer-events: none;
		}

		svg {
			display: none;
		}

		&.hidden {
			display: none !important;
		}
	}

	&-zoom-button[title="Zoom out"] {
		&::after {
			content: url("https://d3b6muno9lbfvx.cloudfront.net/sls-residences-vr/files/icons/zoom-out.svg");
		}
	}

	&-zoom-button[title="Zoom in"] {
		&::after {
			content: url("https://d3b6muno9lbfvx.cloudfront.net/sls-residences-vr/files/icons/zoom-in.svg");
		}
	}

	&-fullscreen-button {
		&.psv-button--active {
			&::after {
				content: url("https://d3b6muno9lbfvx.cloudfront.net/damac-bay-vr/files/icons/tochna-close.svg");
			}
		}

		&::after {
			content: url("https://d3b6muno9lbfvx.cloudfront.net/sls-residences-vr/files/icons/fullscreen-close.svg");
		}
	}
}

.psv-button--active {
	background-color: transparent;
}

.wrapper {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	width: fit-content;
	padding: 8px;
}

.modal-center {
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	margin-bottom: 0;
	display: flex;
	align-items: flex-end;
	opacity: 0;
	transition: opacity 1s;

	&__swiper {
	}

	// .modal-center__slider
	&__slider {
		max-width: 538px;
		width: 100%;
		height: 63px;
		display: flex;
		align-items: center;
		justify-self: center;
		gap: 10px;
		position: relative;
		&-wrap {
			max-width: 538px;
			width: 100%;
			height: 63px;
			display: flex;
			align-items: center;
			justify-self: center;
			gap: 10px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			opacity: 0;
			pointer-events: none;
			&.active {
				position: relative;
				transition: opacity 1s ease;
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	// .modal-center__btns
	&__btns {
		position: absolute;
		right: -150px;
		display: flex;
		gap: 2px;
		height: 63px;
	}

	// .modal-center__btn
	&__btn {
		color: #fff;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		letter-spacing: 0.03em;
		min-width: 90px;
		position: relative;
		background-color: rgba(0, 0, 0, 0.68);
		border-radius: 5px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			padding: 1px;
			width: 99%;
			height: 99%;
			background: linear-gradient(95.19deg, #979797 -15.53%, rgba(151, 151, 151, 0) 49.05%, #979797 113.63%);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
			pointer-events: none;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
			z-index: 1;
			pointer-events: none;
		}
	}

	.gallery__btn {
		div {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 3;
		}
	}
}

.modal-right {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 15px 4px;
	z-index: 5;
	opacity: 0;
	transition: opacity 1s;
	background-color: rgba(0, 0, 0, 0.68);
	border-radius: 5px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 5px;
		padding: 1px;
		width: 99%;
		height: 99%;
		background: linear-gradient(178.02deg, #979797 -19.32%, rgba(151, 151, 151, 0) 54.15%, #979797 116.73%);
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
		pointer-events: none;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		position: relative;

		button {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
			z-index: 1;
			pointer-events: none;
		}
	}
}

.swiper-interior,
.interior__btn-ext {
	display: none;
}

.modal-center__slider {
	.swiper {
		height: 100%;
		width: 100%;
		border-radius: 5px;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.6);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		position: relative;
		padding: 5px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			padding: 1px;
			background: linear-gradient(90.05deg, #979797 0%, rgba(151, 151, 151, 0) 45%, #979797 100%);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
			pointer-events: none;
		}

		.swiper-slide__img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: relative;
				z-index: 1;
			}
		}

		.swiper-slide__text {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(0, 0, 0, 0.5);
			opacity: 0;

			p {
				// 360 view
				color: #fff;
				font-size: 12px;
				font-weight: 400;
				line-height: 1;
				z-index: 1;
			}
		}

		.swiper-slide {
			cursor: pointer;
			overflow: hidden;
			// height: 51px;

			&._active {
				.swiper-slide__img {
					&::after {
						content: "";
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						z-index: 2;
						position: absolute;
						background-color: rgba(0, 0, 0, 0.5);
						transition: all 0s;
					}
				}

				.swiper-slide__text {
					opacity: 1;
					// visibility: visible;
					border-color: rgba(220, 218, 213, 0.7);
				}
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		margin: 0;

		&::after {
			display: none;
		}

		svg {
			width: auto;
			height: auto;
		}
	}
}
.interior {
	.modal-center__slider {
		.swiper {
			.swiper-slide__text {
				opacity: 1;
				align-items: flex-end;
				padding-bottom: 5px;
			}
		}
		.swiper-slide {
			cursor: pointer;
			overflow: hidden;
			// height: 51px;
			border: 1px solid transparent;
			.swiper-slide__img {
				&::after {
					content: "";
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 2;
					position: absolute;
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.7) 100%);
					transition: all 0s;
				}
			}
			&._active {
				border: 1px solid #fff;
				.swiper-slide__img {
					&::after {
						content: "";
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						z-index: 2;
						position: absolute;
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.7) 100%);
						transition: all 0s;
					}
				}
				.swiper-slide__text {
					opacity: 1;
					// visibility: visible;
					border-color: rgba(220, 218, 213, 0.7);
				}
			}
		}
	}
}
.gallery {
	display: none;
}

// Info Modal START
.info {
	position: fixed;
	top: 50%;
	right: 88px;
	width: 40%;
	height: calc(100% - 40px);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
		linear-gradient(90.05deg, #979797 0%, rgba(151, 151, 151, 0) 45%, #979797 100%);
	z-index: 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// transform: translateX(100%);
	transform: translateY(-50%);
	visibility: hidden;
	transition: 0.2s ease;
	border-radius: 20px;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	// padding-right: 4px;

	@media (max-width: 1100px) {
		width: 100%;
		height: 100%;
		right: 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		// bottom: 0;
		transform: translateY(-50%);
		border-radius: 20px;
		padding: 1px;
		width: 99.7%;
		height: 99.7%;
		background: linear-gradient(90.05deg, #979797 0%, rgba(151, 151, 151, 0) 45%, #979797 100%);
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
		pointer-events: none;
	}

	&.active {
		opacity: 1;
		pointer-events: all;
		visibility: visible;
		transition: 0.5s ease 0.2s;
	}

	&__btn-close {
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		&-cross {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}

	.modals360__btn-arrow {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 28px;
		height: 28px;
		padding: 5px;
		z-index: 10;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}

		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}

	&__container {
		padding: 30px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(255, 255, 255, 0.103);
		}

		&::-webkit-scrollbar-track {
			background: #46464683;
		}
	}

	&__top {
		// padding: 0 30px;
		padding-bottom: 40px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			border-radius: 2.557px;
			background-color: #e4e4e4;
			opacity: 0.5;
		}
	}

	&__subtitle {
		color: #ada08c;
		font-size: 20px;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		padding-bottom: 30px;
		font-family: "Montserrat", sans-serif;
	}

	&__title {
		color: #fff;
		font-family: "Montserrat", sans-serif;
		font-size: 35px;
		font-weight: 400;
		line-height: 1;
		padding-bottom: 28px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 30px;

		p {
			color: #979797;
			font-size: 16px;
			font-weight: 400;
			line-height: 130%;
			font-family: "Montserrat", sans-serif;
			max-width: 510px;
		}
	}

	// info__pic
	&__pic {
		width: 100%;
		height: 100%;
		margin-top: 24px;
		line-height: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__bottom {
		// padding: 0 30px;
		padding-top: 30px;

		.info__title {
			padding-bottom: 18px;
		}

		.info__text {
			padding-bottom: 40px;
		}
	}

	&__form {
		&-input {
			margin-bottom: 13px;

			input {
				border: none;
				border-bottom: 0.5px solid #ccc;
				width: 100%;
				padding: 8px 0;
				background-color: transparent;
				border-radius: 0;
				line-height: 24px;
				color: #fff;

				&:focus {
					border: none;
					border-bottom: 0.5px solid rgb(126, 126, 126);
					box-shadow: none;
					outline: none;

					&::placeholder {
						opacity: 0;
					}
				}

				&::placeholder {
					color: #888;
					font-size: 12px;
					font-style: normal;
					font-weight: 300;
					line-height: 24px;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
					transition: background-color 5000s ease-in-out 0s;
					-webkit-text-fill-color: #fff !important;
				}
			}

			.iti {
				.form-control {
					text-align: left;
				}
			}

			.iti__selected-dial-code {
				font-size: 12px;
				font-variant-numeric: lining-nums proportional-nums;
				color: #888;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&-btn {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 100%),
				linear-gradient(0deg, #ffffff, #ffffff),
				linear-gradient(272.73deg, rgba(255, 255, 255, 0.5) -0.15%, rgba(223, 223, 223, 0.5) 45.81%), #ffffff;
			border-radius: 5px;
			padding: 16px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 12px;
			width: 80%;
			margin: 55px auto 0;

			span {
				color: #000;
				font-size: 16px;
				font-weight: 300;
				line-height: 150%;
				text-transform: uppercase;
				overflow: hidden;
			}

			img {
				width: 0;
				transition: all 0.5s;
			}

			@media (min-width: 767.99px) {
				&:hover {
					img {
						width: 48px;
					}
				}
			}
		}
	}
}

// floorplan Modal START
.floorplan {
	position: fixed;
	top: 50%;
	right: 88px;
	height: calc(100% - 40px);
	width: auto;
	background-color: #faf8f1;
	z-index: 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease;
	border-radius: 20px;
	// padding-right: 4px;
	overflow: hidden;

	@media (max-width: 1100px) {
		width: 100%;
		height: 100%;
		right: 0;
	}

	&.active {
		visibility: visible;
		opacity: 1;
		pointer-events: all;
		transition: 0.4s linear 0.2s;
	}

	&__btn-close {
		display: none;
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}

	.modals360__btn-arrow {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 28px;
		height: 28px;
		padding: 5px;
		z-index: 10;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}

		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}

	&__container {
		padding: 40px 0;
		overflow: auto;
		width: 980px;
		// width: 800px;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.3);
		}

		&::-webkit-scrollbar-track {
			background: #d9d6d6;
		}
	}

	&__top {
		padding: 0 45px;
	}

	&__bottom {
		padding: 0 45px;
		margin-top: 42px;
	}

	&__swiper-thumb {
		width: 100%;

		.swiper {
			height: 100%;
		}

		.swiper-slide {
			position: absolute;
			opacity: 0 !important;
			transition: opacity 0.5s;
		}

		.swiper-slide-active {
			opacity: 1 !important;
		}
	}

	&__swiper-pagination {
		.swiper-pagination-bullet {
			width: 30px;
			height: 10px;
			border-radius: 0;
			position: relative;
			background-color: transparent;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}

	&__swiper-main {
		width: 100%;
		// max-width: 500px;
		// padding: 0 20px;
	}

	&__tab {
		overflow: hidden;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 12px;
		text-align: center;
		width: max-content;
		margin: 0 auto;

		@media (max-width: 768px) {
			width: 100%;
		}

		&-body {
			display: flex;
			gap: 73px;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}

		&-link {
			color: #919191;
			font-family: "Montserrat", sans-serif;
			font-size: 42px;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			padding: 0 12px;
			position: relative;
			transition: all 0.3s ease;
			cursor: auto;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 240%;
				transform: translateX(-50%) scale(0);
				height: 1px;
				background-color: #ada08c;
				transition: all 0s ease;
			}

			&:hover {
				color: #000;
			}

			&.active {
				color: #000;

				&::after {
					transform: translateX(-50%) scale(1);
					transition: all 0.3s ease 0.1s;
				}
			}
		}

		span {
			font-weight: 400;
			font-size: 18px;
			line-height: 1;
			text-transform: uppercase;
			color: #929292;
			font-family: "Montserrat", Arial, sans-serif;
		}

		&-content {
			display: none;
			justify-content: space-between;
			align-items: center;
			gap: 70px;
			padding-top: 30px;
			padding-bottom: 0;
			font-family: "Montserrat", Arial, sans-serif;
			font-weight: 300;
		}

		&-even {
			// width: 350px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-odd {
			// width: 220px;
		}

		&-title {
			position: relative;
			padding-bottom: 20px;

			h3 {
				color: #333;
				font-family: "Montserrat", sans-serif;
				font-size: 48.75px;
				font-weight: 400;
				line-height: 100%;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 75px;
				height: 1px;
				background-color: #333;
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 32px;
			// margin-top: 30px;
			// margin-bottom: 4px;
		}

		&-name {
			font-weight: 300;
			line-height: 1;
			text-transform: uppercase;
			padding-bottom: 10px;
			font-size: 21px;
			color: #929292;
			font-family: "Montserrat", Arial, sans-serif;
		}

		&-desc {
			color: #000;
			font-family: "Montserrat", sans-serif;
			font-size: 21px;
			font-weight: 300;
			line-height: 1;
			text-transform: uppercase;

			b {
				font-weight: 500;
			}
		}

		&-body {
			flex-direction: column-reverse;
			align-items: center;
			text-align: center;
		}
	}

	&__title {
		color: #2e2a25;
		font-family: "Montserrat", sans-serif;
		font-size: 35px;
		font-weight: 500;
		line-height: 1;
		padding-bottom: 25px;
	}

	&__text {
		padding-bottom: 40px;

		p {
			color: #000;
			font-size: 18px;
			font-weight: 300;
			line-height: normal;
		}
	}

	&__form {
		&-input {
			margin-bottom: 13px;

			input {
				border: none;
				border-bottom: 0.5px solid #ccc;
				width: 100%;
				padding: 7px 0;
				background-color: transparent;
				border-radius: 0;

				&:focus {
					border: none;
					border-bottom: 0.5px solid rgb(126, 126, 126);
					box-shadow: none;
					outline: none;

					&::placeholder {
						opacity: 0;
					}
				}

				&::placeholder {
					color: #888;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
					transition: background-color 5000s ease-in-out 0s;
					-webkit-text-fill-color: #000 !important;
				}
			}

			.iti {
				.form-control {
					text-align: left;
				}
			}

			.iti__selected-dial-code {
				font-size: 12px;
				font-variant-numeric: lining-nums proportional-nums;
				color: #888;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&-btn {
			background-color: #000;
			border-radius: 5px;
			padding: 16px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 12px;
			width: 80%;
			margin: 55px auto 0;

			span {
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				line-height: 150%;
				text-transform: uppercase;
				overflow: hidden;
			}

			img {
				width: 0;
				transition: all 0.5s;
				filter: invert(1);
			}

			@media (min-width: 767.99px) {
				&:hover {
					img {
						width: 48px;
					}
				}
			}
		}
	}
}

.floorplan__content {
	width: 100%;
	border-top: 1px solid #ada08c;
	padding-top: 48px;

	&-title {
		font-family: "Montserrat", sans-serif;
		font-size: 32px;
		text-transform: uppercase;
	}

	.floorplan__content-list {
		display: grid;
		gap: 24px;
		margin-top: 30px;

		div {
			font-size: 20px;
		}
	}

	ul {
		list-style-type: none;
		display: grid;
		gap: 20px;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
		color: #363636;
	}
}

.custom-select {
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
	padding: 4px;
	margin: 0;

	.select-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4px 8px 4px 12px;
		cursor: pointer;
		color: #dcdad5;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
		border-radius: 2px;
		gap: 8px;

		&::after {
			content: url("icons/arrow-down.svg");
			line-height: 0;
			transition: 0.3s ease;
		}
	}

	.select-list {
		// position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		// background-color: rgba(0, 0, 0, 0.75);
	}

	.select-item {
		padding: 8px 8px 8px 12px;
		cursor: pointer;
		color: #dcdad5;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
		text-align: left;

		&._active {
			display: none;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.75);
			border-radius: 2px;
		}
	}

	&.open .select-list {
		display: block;
	}

	&.open .select-header {
		&::after {
			transform: rotate(180deg);
			transition: 0.3s ease;
		}
	}
}

.opened-fullscreen {
	.psv-navbar {
		bottom: 20px;
	}

	.wrapper,
	.modal-center {
		opacity: 0 !important;
		visibility: hidden;
	}

	.wrapper,
	.modal-right {
		opacity: 0;
	}
}

.fake-fullscreen {
	.psv-fullscreen-button {
		&::after {
			opacity: 0;
		}
	}

	.btn-fake {
		bottom: 20px;
		opacity: 1;
	}

	.psv-navbar {
		bottom: 20px;
	}

	.wrapper,
	.modal-center {
		opacity: 0 !important;
		visibility: hidden;
		pointer-events: none;
	}

	.wrapper,
	.modal-right {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

// Floorplan IMG
.floorplan__swiper-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 36px;

	&.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr) repeat(3, 0);
		grid-template-rows: repeat(5, 1fr);
		gap: 12px;
		width: 420px;
	}

	&.active {
		display: flex;

		&.grid {
			display: grid;
		}
	}
}

.floorplan__img {
	position: relative;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 8fr 6fr;
	gap: 30px;
	border-radius: 14px;
	box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
	background: #fef9f5;
	padding: 36px;

	@media (max-width: 768px) {
		padding: 20px;
	}

	&-inner {
		position: relative;
		height: 320px;
		@media (max-width: 768px) {
			height: auto;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}

		&:hover span {
			transform: translate(-50%, -50%) scale(1.1);
		}
	}

	&-scheme {
		height: 320px;
		background-color: #1a251f;
		border-radius: 10px;
		overflow: hidden;
		padding: 20px 30px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		padding-bottom: 40px;

		@media (max-width: 768px) {
			padding: 20px;
			min-height: 260px;
			height: auto;
		}

		img {
			border-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-type {
		font-weight: 400;
		font-size: 24px;
		color: #bfa256;
		text-transform: uppercase;
		width: 100%;

		span {
			white-space: nowrap;
		}

		@media (max-width: 1100px) {
			font-size: 26px;
		}
		@media (max-width: 991px) {
			font-size: 20px;
		}
	}

	&-text {
		color: #fff;
		span {
			font-weight: 300;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
		}
		p {
			margin-top: 10px;
			font-weight: 400;
			color: #fff;
			font-size: 24px;
			text-transform: uppercase;
		}
	}

	// floorplan__img-inner
	&-inner {
		span {
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 6px;
			pointer-events: none;
			transition: 0.3s ease;

			svg,
			img {
				width: 32px;
				height: 32px;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	&-btn {
		position: absolute;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		font-size: 14px;
		line-height: 1;
		font-weight: 500;
		padding: 4px 6px 4px 4px;
		border-radius: 5px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		left: 50%;
		bottom: 24px;
		transform: translateX(-50%) scale(1);
		transition: 0.3s ease;
		color: #124259;
		white-space: nowrap;
		svg path {
			transition: 0.3s ease;
		}

		&:hover {
			transform: translateX(-50%) scale(1.1);

			svg path {
				fill: #e6c18f;
			}
		}

		&-icon {
			width: 22px;
			height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #124259;
			border-radius: 4px;
		}
	}
}

.floorplan__img-text {
	color: #929292;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

.floorplan__swiper-thumb {
	.floorplan__swiper-thumb {
		width: 100%;
	}

	.swiper-slide {
		opacity: 1 !important;
		position: relative !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.floorplan__switch {
	// display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 5px;
	padding: 2px;
	width: max-content;
	margin: 24px auto 0;
	display: none;
}

.floorplan__switch-btn {
	padding: 4px 8px;
	background-color: #00000000;
	color: #000;
	transition: 0.4s ease-in;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;

	&.active {
		transition: 0.4s ease-in 0.1s;
		color: #ffffff;
		background-color: #000000;
	}
}

@media (max-width: 1100px) {
	.floorplan {
		.floorplan__container {
			width: 100%;
		}
	}

	.floorplan,
	.info {
		&__inner {
			gap: 20px;
		}
	}
}

@media (max-width: 991px) {
	.floorplan {
		.floorplan__tab-body {
			justify-content: center;
			align-items: center;
			padding-top: 24px;
		}
	}
}

@media (max-width: 845px) {
	// .modal-center__swiper {
	//   width: 100%;
	//   max-width: 320px;
	// }
	.btn-fake {
		width: 40px;
		height: 40px;
		position: absolute;
		left: 15px;
		bottom: 190px;
		z-index: 999;
		transition: 0.2s ease;
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s ease;
		background-color: transparent;

		svg {
			width: 24px;
			height: 24px;
		}
	}

	.modal-center {
		height: 185px;
		// height: auto;
		width: 100%;
		bottom: 0;
		background-color: #000;
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px 0 55px;
		z-index: 1;
		align-items: center;
		column-gap: 15px;
		row-gap: 5px;
		// flex-direction: column;

		.swiper-slide {
			height: 51px;
		}

		&__slider {
			justify-content: center;
			// max-width: 320px;
			// height: 50px;
			margin: 0 auto;
			gap: 15px;
			order: 2;
			max-width: 500px;

			[data-time-default] & {
				.modal-center__slider-wrap.active {
					left: auto;
					right: auto;
					transform: translateX(0);
				}
			}
		}

		&__btns {
			justify-content: center;
			gap: 15px;
			position: relative;
			right: initial;
			height: auto;

			[data-time-default] & {
				width: auto;
			}
			width: 100%;
		}

		&__btn {
			border: 0.3px solid rgba(255, 255, 255, 0.7);
			color: rgba(255, 255, 255, 0.7);
			text-transform: uppercase;
			height: 36px;
		}
	}

	.modal-right {
		bottom: 12px;
		right: initial;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		// height: 34px;

		&::before {
			content: "";
			height: 32px;
			background: linear-gradient(265.02deg, #979797 -19.32%, rgba(151, 151, 151, 0) 54.15%, #979797 72.73%);
		}

		&__list {
			flex-direction: initial;
			gap: 28px;
			padding: 5px 15px;
			justify-content: center;
			align-items: center;
			height: 34px;
		}

		&__btn {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__link {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__item {
			width: 24px;
			height: 24px;
			padding: 4px;
		}
	}

	.opened-fullscreen {
		.psv-navbar {
			bottom: 20px;
			left: 15px;
		}
	}

	.psv {
		&-navbar {
			flex-direction: column;
			position: absolute;
			bottom: 190px;
			right: 0;
			padding: 0;

			&::before {
				width: 98%;
				height: 99%;
			}
		}

		&-fullscreen-button {
			margin-top: 0;
			margin-left: 0;
		}

		&-zoom-button[title="Zoom out"] {
			border-radius: 4px 4px 0 0;
		}

		&-zoom-button[title="Zoom in"] {
			border-radius: 0 0 4px 4px;

			&::before {
				content: "";
				width: 80%;
				height: 1px;
				top: 0%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.floorplan,
	.info {
		&__media {
			padding: 40px 30px;
		}
	}

	.floorplan {
		overflow: hidden;

		.floorplan__tab-body {
			padding: 24px 0 32px;
			gap: 42px;
		}

		.floorplan__btn-close {
			opacity: 0;
		}

		.floorplan__top {
			padding: 30px 18px;
		}

		.floorplan__swiper-thumb {
			width: 100%;
			// height: 105px;
		}

		.floorplan__container {
			height: 100%;
			padding: 0;
			width: 100%;
		}

		.floorplan__bottom {
			margin-top: 0;
			border-radius: 35px 24px 0 0;
			padding-bottom: 35px;
		}

		.floorplan__tab-link::after {
			background-color: #000;
		}

		.floorplan__tab-content {
			padding-top: 0;
			padding-bottom: 0;
		}

		.floorplan__form-input input {
			font-size: 16px;
			color: #fff;

			&::placeholder {
				font-size: 16px;
			}

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				transition: background-color 5000s ease-in-out 0s;
				-webkit-text-fill-color: #fff !important;
			}
		}

		// .floorplan__form-btn {
		// 	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 100%),
		// 		linear-gradient(0deg, #ffffff, #ffffff),
		// 		linear-gradient(272.73deg, rgba(255, 255, 255, 0.5) -0.15%, rgba(223, 223, 223, 0.5) 45.81%), #ffffff;
		// }
	}

	.modal360__close-btn {
		opacity: 0;
	}

	.info {
		width: auto;
		background: #eeece6;

		.modals360__btn-arrow {
			&::before,
			&::after {
				content: "";
				background-color: #000;
			}
		}

		.info__btn-close {
			opacity: 0;
		}

		.info__container {
			padding: 0;
		}

		&::before {
			display: none;
		}

		.info__top {
			padding-bottom: 30px;
			background-color: #eeece6;
			padding: 69px 24px 58px;
		}

		.info__bottom {
			border-radius: 20px 20px 0 0;
			overflow: hidden;
		}

		.info__subtitle {
			color: #635d58;
			font-size: 16px;
		}

		.info__title {
			color: #2e2a25;
			font-size: 32px;
			padding-bottom: 24px;
		}

		.info__text p {
			color: #979797;
		}

		.info__top::after {
			display: none;
		}

		.info__bottom {
			padding: 69px 24px;
		}

		.info__form-input input {
			font-size: 16px;
			color: #fff;

			&::placeholder {
				font-size: 16px;
			}
		}

		.info__form-btn {
			padding: 13px 0;
			font-size: 16px;
		}
	}
}

@media (max-width: 768px) {
	.psv {
		&-navbar {
			left: 15px;
		}
	}

	.floorplan,
	.info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		// overflow: scroll;
		&__inner {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}

		&__col {
			gap: 16px;
		}

		&__form {
			gap: 16px;
		}
	}

	.floorplan {
		width: 100%;

		&__container {
			// padding: 30px 0 0;
		}

		&__top {
			padding: 0 20px;
		}

		&__bottom {
			padding: 0 20px 35px;
			background-color: #000;
		}

		&__tab {
			gap: 15px;

			&-link {
				font-size: 32px;
			}

			&-content {
				flex-direction: column;
				gap: 25px;
				padding-bottom: 22px;
			}

			&-even {
				min-width: initial;
				max-width: 100%;
				height: 100%;
				width: 100%;
				margin: 0 auto;
			}

			&-odd {
				max-width: 100%;
			}

			&-title {
				display: none;
			}
		}

		&__title {
			padding-top: 35px;
			padding-bottom: 0;
			color: #fff;
			font-size: 32px;
		}

		&__text {
			padding-top: 22px;
			padding-bottom: 0;

			p {
				color: #fff;
				font-size: 18px;
			}
		}

		&__form {
			padding-top: 32px;

			&-input {
				input {
					padding: 7px 0 6px;
				}
			}

			&-btn {
				margin: 30px auto 0;
				background-color: #fff;
				padding: 12px;
				span {
					color: #000;
					font-size: 16px;
					line-height: normal;
				}

				img {
					filter: invert(0);
				}

				&:focus {
					img {
						width: 48px;
					}
				}
			}
		}

		&__img {
			// gap: 8px;
		}

		&__img-scheme {
			padding-bottom: 20px;
		}

		&__img-btn {
			bottom: 16px;
			font-size: 16px;
		}
	}

	.info {
		border-top-right-radius: 0;

		&__container {
			// padding: 50px 0 0;
			height: 100%;
		}

		&__top {
			padding: 69px 24px;
			// padding-bottom: 80px;
			// height: 40%;
		}

		&__bottom {
			// height: 60%;
		}

		&__subtitle {
			font-size: 16px;
			padding-bottom: 15px;
			color: #635d58;
			line-height: 30px;
		}

		&__title {
			font-size: 32px;
			padding-bottom: 30px;
		}

		&__text {
			gap: 20px;

			p {
				font-size: 16px;
			}

			&::after {
				display: none;
			}
		}

		&__bottom {
			background-color: #000;
			padding: 0 15px 35px;
			padding-top: 35px;

			.info__title {
				color: #fff;
				padding-bottom: 0;
			}

			.info__text {
				padding-bottom: 0;
				padding-top: 22px;

				p {
					font-size: 18px;
					color: #fff;
				}
			}

			.info__form {
				padding-top: 32px;

				&-input {
					input {
						padding: 7px 0 6px;
					}
				}

				&-btn {
					margin: 35px auto 0;
					background-color: #fff;

					span {
						color: #000;
						font-size: 20px;
					}

					img {
						filter: invert(0);
					}

					&:focus {
						img {
							width: 48px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 575.98px) {
	.psv {
		&-navbar {
			&-zoom-button,
			&-fullscreen-button {
				width: 28px;
				height: 28px;
			}
		}
	}

	.info {
		&__top {
			height: auto;
		}

		&__bottom {
			height: auto;
		}
	}

	.floorplan__swiper-main.grid {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 24px;
		width: 100%;
		max-width: 100%;
	}

	.floorplan {
		&__tab-desc {
			font-size: 18px;
		}

		&__img {
			gap: 20px;
			grid-template-columns: 1fr;
			&-scheme {
				padding-bottom: 30px;
			}

			&-btn {
				bottom: 22px;
				span {
					font-size: 14px;
				}
			}
		}
	}
}

.fancybox__container.view {
	.f-thumbs__slide.for-image {
		border: 1px solid transparent;
	}
	.f-thumbs__slide.for-image.is-nav-selected {
		border: 1px solid #fff;
	}

	.f-thumbs.is-horizontal .f-thumbs__slide {
		width: auto !important;
	}
	.fancybox__caption {
		text-align: center;
	}
	.is-modern .f-thumbs__slide {
		transform: translate3d(0, 0, 0) !important;
	}
	.f-thumbs__slide__button {
		clip-path: none !important;
		&::after {
			content: "North";
			display: block;
			position: absolute;
			z-index: 5;
			color: #fff;
			text-align: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&[data-carousel-index="1"]::after {
			content: "East";
		}
		&[data-carousel-index="2"]::after {
			content: "South";
		}
		&[data-carousel-index="3"]::after {
			content: "West";
		}
	}
}

/* Анимация появления */
@keyframes smooth-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.is-opening .fancybox__content {
	animation: smooth-appear 0.3s ease-out !important;
}